sh=[] 
f=open("movies.dat","rb") 
if n=="1": 
while True: 
try: 
s=pickle.load(f) 
if s[3]=="THEATRE G": 
sh.append(s) 
except EOFError: 
break 
elif n=="2": 
while True: 
try: 
s=pickle.load(f) 
if s[3]=="THEATRE H": 
sh.append(s) 
except EOFError: 
break 
else: 
print("PLEASE SELECT FROM ABOVE!!") 
chennai() 
display(sh) 
def store(a): 
f=open("BOOKINGS.dat","ab") 
pickle.dump(a,f) 
f.close() 
def prebooks(): 
f=open("BOOKINGS.dat","rb") 
n=input("ENTER YOUR USERNAME:") 
flag=0 
while True: 
try: 
s=pickle.load(f) 
if s[-1]==n: 
l=s[0] 
print("\t\t\t\t\t\t  ") 
print("\t\t\t\t\t\t ]]BOOKINGS[[") 
 
print("\n%10s"%"MOVIE_ID","%14s"%"NAME","%15s"%"LANGUAGE","%14s"%"THEATRE"," 
%15s"%"GENRE","%11s"%"DATE","%15s"%"TIME") 
print(" 
") 
 
print("%7s"%l[0],"%16s"%l[1],"%15s"%l[2],"%16s"%l[3],"%15s"%l[4],"%14s"%l[5],"%11s"%l[ 
6]) 
print("\n\n\t SEAT NO:",s[1]) 
print("\t SNACKS:",s[2]) 
flag=1 
except EOFError: 
break 
if flag==0: 
print("NO BOOKINGS!!!") 
def ADDdata(): 
f=open("movies.dat","ab") 
ans="y" 
print("KINDLY FILL ALL THE RECORD IN CAPITAL LETTERS ONLY!!\n") 
while ans in "Yy": 
s=input("ENTER MOVIE ID:") 
n=input("ENTER THE NAME OF THE MOVIE:") 
la=input("ENTER LANGUAGE(ENGILHS/HINDI):") 
nT=input("ENTER THE NAME OF THE THEATRE:") 
g=input("ENTER THE GENRE:") 
d=input("ENTER THE DATE OF THE MOVIE(DD-MM-YYYY):") 
t=input("TIMINNGS(SPECIFY AM/PM):") 
data=[s,n,la,nT,g,d,t] 
pickle.dump(data,f) 
ans=input("DO YOU WANT TO ADD MORE RECORDS(Y/N):") 
f.close() 
 
 
def DISPdata(): 
s=[] 
f=open("movies.dat","rb") 
 
print("%10s"%"MOVIE_ID","%14s"%"NAME","%15s"%"LANGUAGE","%14s"%"THEATRE","% 
15s"%"GENRE","%11s"%"DATE","%15s"%"TIME") 
print(" 
") 
while True: 
try: 
i=pickle.load(f) 
 
print("%7s"%i[0],"%16s"%i[1],"%15s"%i[2],"%16s"%i[3],"%15s"%i[4],"%14s"%i[5],"%11s"%i[ 
6]) 
except EOFError: 
break 
f.close() 
def MODIFYdata(): 
f=open("movies.dat","rb") 
L2=[] 
found=False 
n=input("ENTER THE MOVIES ID TO MODIFY DATE AND TIME:") 
while True: 
try: 
s=pickle.load(f) 
if s[0]==n: 
m=input("ENTER THE UPDATED DATE(DD-MM-YYYY):") 
s[5]=m 
P=input("ENTER THE UPDATED TIME(SPECIFY AM/PM):") 
s[6]=P 
print("RECORD UPDATED!!") 
found=True 
L2.append(s) 
else: 
L2.append(s) 
except EOFError: 
break 
with open("movies.dat","wb") as f: 
for n in L2: 
pickle.dump(n,f) 
f.close() 
def DELdata(): 
f=open("movies.dat","rb") 
l=[] 
found=False 
n=input("ENTER THE MOVIE ID TO BE DELETED:") 
while True: 
try: 
s=pickle.load(f) 
if s[0]==n: 
found=True 
else: 
l.append(s) 
except EOFError: 
break 
if found==False: 
print("MOVIE NOT FOUND!") 
else: 
print("MOVIE DELETED!") 
with open("movies.dat","wb") as f: 
for n in l: 
pickle.dump(n,f) 
f.close() 
def SEARCH(): 
s=[] 
f=open("movies.dat","rb") 
Found=False 
r=input("ENTER THE MOVIE ID TO SEACRCH:") 
while True: 
try: 
s=pickle.load(f) 
if s[0]==r: 
print(s) 
Found=True 
break 
except EOFError: 
break 
if Found==False: 
print("MOVIE NOT FOUND") 
f.close() 
def readuser(): 
f=open("info.dat","rb") 
while True: 
try: 
s=pickle.load(f) 
print(s) 
except EOFError: 
break 
f.close() 
 
 
def MENU(): 
print(" ") 
print("\t\t\t ===SCENEMA===") 
print("\t\t\t    ") 
print("\t\t\t  STAFF MENU") 
print("\n\t    ") 
print("\t OPTIONS:") 
print("1.DISPLAY") 
print("2.ADD MOVIES") 
print("3.MODIFY DATE AND TIME") 
print("4.DELETE A MOVIE") 
print("5.SEARCH A MOVIE") 
print("6.VIEW USER AND PASSWORD") 
print("7.EXIT") 
print(" ") 
a=int(input("ENTER THE OPTION NUMBER:")) 
while True: 
if a==1: 
DISPdata() 
elif a==2: 
ADDdata() 
elif a==3: 
MODIFYdata() 
elif a==4: 
DELdata() 
elif a==5: 
SEARCH() 
elif a==6: 
readuser() 
elif a==7: 
print("\t\t\t\t*************") 
break 
else: 
print("**PLEASE CHOOSE FROM THE ABOVE OPTIONS**") 
b=input("\nCONTINUE THE MENU PROCESS(Y/N)?:") 
if b=="Y" or b=="y": 
MENU() 
else: 
print("\n\t\t\t\t*************") 
break 
break 
def Staffsignup(): 
f=open("staffinfo.dat","ab") 
n=input("ENTER USERNAME OF YOUR CHOICE:") 
p=input("ENTER PASSWORD OF YOUR CHOICE:") 
data=[n,p] 
pickle.dump(data,f) 
f.close() 
print("RECORD ADDED SUCCESSFULLY!!\n\n") 
MENU() 
def Stafflogin(): 
f=open("staffinfo.dat","rb") 
print("\n\t\t\tLOGIN!") 
un=input("ENTER YOUR USERNAME:") 
flag=0 
flag1=0 
while True: 
try: 
s=pickle.load(f) 
if s[0]==un: 
pin=input("ENTER YOUR PASSWORD:") 
flag=1 
if s[1]==pin: 
print("LOGIN SUCCESSFULL!!\n\n") 
flag1=1 
MENU() 
except EOFError: 
break 
if flag==0: 
print("INCORRECT USERNAME!") 
flag1=2 
Stafflogin() 
if flag1==0: 
print("INCORRECT PASSWORD!") 
Stafflogin() 
def startS(): 
print("\t\t\t\t************") 
print("\t\t\t\t SCENEMA") 
print("\n\n1.STAFF LOGIN") 
print("2.STAFF SIGNUP") 
n=int(input("ENTER YOUR CHOICE(1/2):")) 
if n==1: 
Stafflogin() 
elif n==2: 
Staffsignup() 
else: 
print("PLEASE CHOOSE FROM ABOVE OPTION!!") 
openp() 
 
 
 
print("\t\t\t\t************") 
print("\t\t\t\t SCENEMA") 
print("\n\n1.STAFF SCREEN") 
print("2.USER SCREEN") 
n=int(input("ENTER YOUR CHOICE:")) 
if n==1: 
startS() 
elif n==2: 
openp() 
else: 
print("\nPRINT 
PLE+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ASE SELECT FROM ABOVE 
OPTION")
